* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0
}

html {
  font-family: sans-serif;
  text-rendering: optimizeSpeed;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
@media (min-width:1200px) {
  html {
    font-size: 16px
  }
}
@media (max-width:1199px) {
  html {
    font-size: 12px
  }
}
body {
  width: 100%;
  height: 100%;
  background: #fff;
  color: #212F3C;
  font: normal normal 1rem/1.5 "Sailec", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  overflow: auto;
  min-height: 100vh
}

h1 { text-align: center; }
.u-heading-1 {
  font: normal bold 1.75rem/1.375 "Sailec", Helvetica, Arial, sans-serif;
  margin-bottom: 1rem
}

.o-banner {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 1;
  flex: 0 0 1;
  background: #229954;
  color: #fff;
  padding: 2rem 3rem;
  width: 100%
}

.o-block {
  margin-bottom: 2.5rem
}
.o-block a {
  border-bottom: 1px solid
}

.c-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  position: relative;
  background: #566573;
  padding: 0.5rem 1rem;
  margin: 0 0.75rem 0.75rem 0;
  border-color: #A9DFBF  ;
  border-radius: .5rem;
  width: auto
}
.c-input.c-input--full {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1
}
.c-input__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: pointer;
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}
.c-input__field {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font: inherit;
  background: transparent;
  color: inherit;
  line-height: 1;
  width: 100%
}
.c-input__field.c-input__field--area {
  padding: 1rem 0.5rem;
  line-height: 1.375;
  min-height: 10rem;
  resize: vertical
}
.c-input__field::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5)
}
.c-input__field::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5)
}
.c-input__field:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5)
}
.c-input__field::placeholder {
  color: rgba(255, 255, 255, 0.5)
}
.c-input__field::-moz-selection {
  background: #fff;
  color: #196F3D
}
.c-input__field::selection {
  background: #fff;
  color: #145A32
}
.myButton {
  padding-top: 50px;
  -moz-box-shadow: 0px 0px 0px 2px #9fb4f2;
  -webkit-box-shadow: 0px 0px 0px 2px #9fb4f2;
  box-shadow: 0px 0px 0px 2px #9fb4f2;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
  background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
  background-color:#145A32;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  border:1px solid #0E6655;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:19px;
  padding:12px 45px;
  text-decoration:none;
  text-shadow:0px 1px 0px #82E0AA;
}
.myButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
  background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
  background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
  background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
  background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
  background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
  background-color:#476e9e;
}
.myButton:active {
  position:relative;
  top:1px;
}
.o-button {
  display: inline-block;
  background: #fff;
  box-shadow: 2px 2px 0 #3d4b8b;
  color: #3d4b8b;
  padding: 0.75em 1em;
  border-radius: .5rem
}

.conta {
    margin-top: 40px;
    margin-left: 40px;
}
.entities {
    line-height: 2;
}

[data-entity] {
    padding: 0.25em 0.35em;
     margin: 0px 0.25em;
     line-height: 1;
     display: inline-block;
     border-radius: 0.25em;
     border: 1px solid;
}

[data-entity]::after {
    box-sizing: border-box;
    content: attr(data-entity);
    font-size: 0.6em;
    line-height: 1;
    padding: 0.35em;
    border-radius: 0.35em;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    margin: 0px 0px 0.1rem 0.5rem;
}

[data-entity][data-entity="person"] {
    background: rgba(166, 226, 45, 0.2);
    border-color: rgb(166, 226, 45);
}

[data-entity][data-entity="person"]::after {
    background: rgb(166, 226, 45);
}

[data-entity][data-entity="org"] {
    background: rgba(67, 198, 252, 0.2);
    border-color: rgb(67, 198, 252);
}

[data-entity][data-entity="org"]::after {
    background: rgb(67, 198, 252);
}

[data-entity][data-entity="date"] {
    background: rgba(47, 187, 171, 0.2);
    border-color: rgb(47, 187, 171);
}

[data-entity][data-entity="date"]::after {
    background: rgb(47, 187, 171);
}



